## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\yadav thapa\\Desktop\\World_Weather_Analysis\\Weather_Database\\Del-1\\WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,City Description
0,0,Saint-Philippe,-21.36,55.77,69.80,77,35,6.93,RE,scattered clouds
1,1,Leh,34.17,77.58,64.33,24,0,4.90,IN,clear sky
2,2,Gualeguay,-33.14,-59.31,65.86,53,0,11.36,AR,clear sky
3,3,Kondapalle,16.62,80.53,77.74,91,99,2.06,IN,light rain
4,4,Ushuaia,-54.80,-68.30,35.60,74,40,16.11,AR,shower rain
5,5,Punta Arenas,-53.15,-70.92,33.80,71,75,26.40,CL,light shower snow
6,6,Mataura,-46.19,168.86,43.00,94,11,3.00,NZ,few clouds
7,7,East London,-33.02,27.91,63.21,70,75,6.53,ZA,broken clouds
8,8,Port Alfred,-33.59,26.89,57.78,82,8,9.42,ZA,clear sky
9,9,Rikitea,-23.12,-134.97,70.11,83,36,22.19,PF,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,City Description
0,0,Saint-Philippe,-21.36,55.77,69.80,77,35,6.93,RE,scattered clouds
1,1,Leh,34.17,77.58,64.33,24,0,4.90,IN,clear sky
2,2,Gualeguay,-33.14,-59.31,65.86,53,0,11.36,AR,clear sky
7,7,East London,-33.02,27.91,63.21,70,75,6.53,ZA,broken clouds
9,9,Rikitea,-23.12,-134.97,70.11,83,36,22.19,PF,scattered clouds
10,10,Nguruka,-5.11,31.04,71.96,39,39,2.62,TZ,scattered clouds
11,11,Cidreira,-30.18,-50.21,61.21,79,0,16.28,BR,clear sky
12,12,Kenai,60.55,-151.26,62.60,67,90,13.87,US,overcast clouds
13,13,Cape Town,-33.93,18.42,60.01,87,40,10.29,ZA,scattered clouds
22,22,College,64.86,-147.80,63.00,72,75,0.94,US,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.head(10)

NameError: name 'clean_df' is not defined

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df
clean_df.tail(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,City Description
653,653,Chapais,49.78,-74.85,68.00,49,75,6.93,CA,broken clouds
663,663,Poum,-20.23,164.02,71.92,81,23,19.30,NC,few clouds
664,664,Krizevci,46.02,16.54,73.40,69,81,2.24,HR,broken clouds
670,670,Zambezi,-13.54,23.10,66.00,32,0,4.72,ZM,clear sky
674,674,Gander,48.97,-54.59,69.80,46,75,6.93,CA,broken clouds
677,677,Peniche,39.36,-9.38,71.01,86,0,7.00,PT,clear sky
678,678,Inhambane,-23.86,35.38,66.20,77,0,4.70,MZ,clear sky
680,680,Mersing,2.43,103.84,73.40,100,79,1.81,MY,broken clouds
681,681,Mehran,33.12,46.16,69.80,37,0,4.70,IR,clear sky
683,683,Adwa,14.16,38.90,62.78,90,100,2.28,ET,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "City Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,
1,Leh,IN,64.33,clear sky,34.17,77.58,
2,Gualeguay,AR,65.86,clear sky,-33.14,-59.31,
7,East London,ZA,63.21,broken clouds,-33.02,27.91,
9,Rikitea,PF,70.11,scattered clouds,-23.12,-134.97,
...,...,...,...,...,...,...,...
677,Peniche,PT,71.01,clear sky,39.36,-9.38,
678,Inhambane,MZ,66.20,clear sky,-23.86,35.38,
680,Mersing,MY,73.40,broken clouds,2.43,103.84,
681,Mehran,IR,69.80,clear sky,33.12,46.16,
683,Adwa,ET,62.78,light rain,14.16,38.90,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# 6b. Iterate through the hotel DataFrame.

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
    except:
      print("Something else went wrong")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
    except:
      print("Something else went wrong")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:

hotel_df.head()

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
1,Leh,IN,64.33,clear sky,34.17,77.58,Hotel Ladakh Greens
2,Gualeguay,AR,65.86,clear sky,-33.14,-59.31,Cabañas Nuestro Refugio
7,East London,ZA,63.21,broken clouds,-33.02,27.91,Tu Casa
9,Rikitea,PF,70.11,scattered clouds,-23.12,-134.97,Pension Maro'i

In [14]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df=hotel_df.replace(r'^\s*$', np.nan, regex=True)

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "C:\\Users\\yadav thapa\\Desktop\\World_Weather_Analysis\\weather_database\\WeatherPy_vacation.csv"

In [16]:
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

In [24]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.0)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(marker_layer)

In [27]:
# 11b. Display the figure

In [28]:
fig

Figure(layout=FigureLayout(height='420px'))